<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
</head>

<body>

<div class="jumbotron text-center">
    <h1>Codecool Shop</h1>
</div>

<div class="container">
    <div class="well well-sm">
        <strong >Confirm your order</strong>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="modal-dialog ">
                <div class="modal-content col-sm-10">
                    <div class="modal-header">
                        <!--<h6>BLABLA</h6>-->
                        <h3 class="modal-title">Order summary:</h3>
                        <!--<p></p>-->
                        <!--<h6>TRALALA</h6>-->
                        <!--<h4 class="modal-title">12345</h4>-->
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nr</th>
                                <th>Product name</th>
                                <th>Quantity</th>
                                <th>Unit price</th>
                                <th>Total price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="item,iterStat : ${basket.getItems()}">
                                <tr>
                                    <td th:text="${iterStat.index+1}"></td>
                                    <td th:text="${item.getProduct().getName()}"></td>
                                    <td th:text="${item.getQuantity()}"></td>
                                    <td th:text="${item.getProduct().getPrice()}"></td>
                                    <td th:text="${item.getPrice()} + ${item.getProduct().getDefaultCurrency()}"></td>


                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                        <!--<h6>STRATSRA</h6>-->
                        <!--<h3 >sedjhg</h3>-->
                        <!--<p></p>-->

                        <!--<h6>LALALA</h6>-->
                        <!--<h4>Open in new page</h4>-->

                    </div>
                    <div class="modal-footer">
                        <table class="table col-sm-6" align="right">
                            <tr>
                                <th>Netto</th>
                                <td th:text="${basket.getPriceNetto()} + ' PLN'"></td>
                            </tr>
                            <tr>
                                <th>Vat</th>
                                <td>23%</td>
                            </tr>
                            <tr>
                                <th>Brutto</th>
                                <td th:text="${basket.getPrice()} + ' PLN'"> </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="modal-dialog col-sm-6">
                <div class="modal-content col-sm-10">
                    <div class="modal-header">
                        <!--<h6>Your personal data</h6>-->
                        <h3 class="modal-title">Your personal data</h3>
                        <p></p>
                        <!--<h6>TRALALA</h6>-->
                        <!--<h4 class="modal-title">12345</h4>-->
                    </div>
                    <div class="modal-body">
                        <form action="#" th:action="@{confirm}" method="post" class="col-sm-10">

                            <div class="form-group">
                                <label for="firstName" class="sr-only">First Name</label>
                                <input type="text" id="firstName" name="firstName" class="form-control"
                                       placeholder="First Name" required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="lastName" class="sr-only">First Name</label>
                                <input type="text" id="lastName" name="lastName" class="form-control"
                                       placeholder="Last Name" required>
                            </div>
                            <div class="form-group">
                                <label for="adres" class="sr-only">Description</label>
                                <textarea row="5" id="adres" name="adres" class="form-control"
                                          placeholder="Adres"
                                          required></textarea>
                            </div>

                            <div class="form-group">
                                <label for="phone" class="sr-only">Phone number</label>
                                <input type="tel" name="phone" id="phone" value="+48"
                                       required>
                            </div>

                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" name="email" id="email"
                                       placeholder="email@email.com" required>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
                            <div class="form-group"></div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

<div th:replace="footer :: copy"></div>

</body>
</html>