<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="head::copy"></head>
<body>

<div class="container">
    <head th:replace="adminheader::copy"></head>



    <div class="row">
        <div class="col-xs-12">
            <h3>Orders</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped">
                <tr th:each="order : ${orders}">
                    <td th:text="${order.number}"></td><td th:text="${product.defaultPrice}"></td>
                    <td><a th:href="@{~/admin/editproduct/{id}(id=${product.id})}" class="btn btn-primary">Edit</a></td>

                </tr>
            </table>
        </div>
    </div>

    <div th:replace="footer :: copy"></div>
</div>

</body>
</html>