<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="container" th:fragment="copy">
    <header>
        <div class="row">
            <div class="col-xs-8">
                <h1>Codecool Events admin</h1>
                <form th:action="@{~/admin/search}" method="POST"><input type="text"  name="search" /> </form>
            </div>
            <div class="col-xs-4">
                <div class="btn-group">
                    <a type="button" class="btn btn-primary"  th:href="@{~/admin/orders}">Orders</a>
                    <a type="button" class="btn btn-primary"  th:href="@{~/admin/products}">Products</a>
                </div>
            </div>
        </div>
    </header>
</div>